<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.js"></script>
</head>

<body>
    <div id="app">
        <header v-bind:class="{ compact: scrollY > 200 }">
            200pxより下にスクロールしたら .compactを付与
        </header>
        <div class="heightAdjustment">
                <input type="text" v-model="scrollY"> {{ scrollY }}
        </div>
        <input type="text" v-model="scrollY"> {{ scrollY }}
        <div v-on:click="scrollTop">
            ページ上部へ移動
        </div>
    </div>
    <script src="axios.js"></script>
    <script src="lodash.js"></script>
    <script src="vue.js"></script>
    <script src="section15.js"></script>
</body>
</html>