<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    
    <div id="app">
        <p v-if="show">{{ message }}</p>
        <input v-model="message">
        <ol>
            <li v-for="item in list">{{ item }}</li>
        </ol>
        <button v-on:click="handleClick">Click</button>
        <br>
        <button v-on:click="show2=!show2">切り替え</button>
        <transition>
            <p v-if="show2">hoge</p>
        </transition>
        <p>{{ list[2] }}</p>
        <p>{{ list[num] }}</p>
        <p>{{ count }} 回クリックしたよ！</p>
        <button v-on:click="increment">カウントを増やす</button>
        <div v-bind:text-content.prop="message"></div>
        <div v-bind:scroll-top.prop="scroll"></div>
        <svg xmlns="http://www.w3.org/2000/svg" veraion="1.1">
            <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
        </svg>
        <input type="range" min="0" max="100" v-model="radius">
        <div v-if="ok">v-if条件による描画</div>
        <div v-show="ok">v-showによる表示</div>
        <template v-if="ok">
            <header>タイトル</header>
            <div>コンテンツ</div>
        </template>
        <div v-if="type === 'A'">
            type は A
        </div>
        <div v-else-if="type === 'B'">
            type は B
        </div>
        <div v-else-if="type === 1">
            type は 1
        </div>
        <div v-else>
            すべての条件を満たさなかった
        </div>
        <div v-if="loaded" key="content-visible">
            content
        </div>
        <div v-else key="content-loading">
            loading now...
        </div>
        <ul>
            <!-- li内のv-ifによりHPが0になるとリストから削除 -->
            <li v-for="(item, index) in monsterList" v-bind:key="item.id" v-if="item.hp">
                <span v-if="item.hp < 50">瀕死！</span>
                INDEX:{{ index }} ID.{{ item.id }} {{item.name }} HP.{{ item.hp }}
                <button v-on:click="doAttack(index)">モンスターを攻撃</button>
                <button v-on:click="doRemove(index)">モンスターを削除</button>
            </li>
        </ul>
        <ul>
            <li v-for="item in monsterList"
                v-bind:key="item.id"
                v-bind:class="{ tuyoi: item.hp > 300 }">
                ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
                <span v-if="item.hp > 300">つよい！</span> 
            </li>
        </ul>
        <ul>
            <li v-for="item in monsterList"
                v-bind:key="item.id"
                v-if="item.hp < 300">
                ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
            </li>
        </ul>
        名前<input v-model="monsterInputName">
        <button v-on:click="doAdd">モンスターを追加</button>
        <button v-on:click="changeSlime">スライム変化</button>
        <br>
        <span v-for="item in 15">{{ item }} </span>
        <br>
        <span v-for="item in [1, 5, 10, 15]">{{ item }} </span>

        <pre>{{ $data }} </pre>
    </div>
    <script src="vue.js"></script>
    <script src="main.js"></script>
    <script src="axios.js"></script>
    <script src="lodash.js"></script>
</body>
</html>